@import "tailwindcss";
@import "./style.css";
@source "../node_modules/@jgengine/react/dist";
@source "../node_modules/@jgengine/shell/dist";

html, body, #root {
  height: 100%;
  margin: 0;
  background: #101f24;
}
